{% extends "base.html" %}
{% block content %}
    <h3 class="mb-5">Reset Password</h3>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.email.label(class="form-label",for="email") }}
        {% if form.email.errors %}
        {{ form.email(class='form-control form-control-lg is-invalid', id='email') }}
        {% for err in form.email.errors %}
        <div class="invalid-feedback mb-4">
            {{ err }}
        </div>
        {% endfor %}
        {% else %}
        {{ form.email(class='form-control form-control-lg mb-4', id='email') }}
        {% endif %}
        <br>
        {{ form.submit(class="btn btn-lg btn-primary mb-4") }}
    </form>
{% endblock %}
