{% extends "base.html" %}

{% block content %}
    <h3 class="mb-5">New Password</h3>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        
        {{ form.password.label(class="form-label",for="password") }}
        {% if form.password.errors %}
        {{ form.password(class='form-control form-control-lg is-invalid', id='password') }}
        {% for err in form.password.errors %}
        <div class="invalid-feedback mb-4">
            {{ err }}
        </div>
        {% endfor %}
        {% else %}
        {{ form.password(class='form-control form-control-lg mb-4', id='password') }}
        {% endif %}
        
        {{ form.confirm_password.label(class="form-label",for="confirm_password") }}
        {% if form.confirm_password.errors %}
        {{ form.confirm_password(class='form-control form-control-lg is-invalid', id='confirm_password') }}
        {% for err in form.confirm_password.errors %}
        <div class="invalid-feedback mb-4">
            {{ err }}
        </div>
        {% endfor %}
        {% else %}
        {{ form.confirm_password(class='form-control form-control-lg mb-4', id='confirm_password') }}
        {% endif %}
        
        <br>
        {{ form.submit(class="btn btn-lg btn-primary mb-4") }}
    </form>
{% endblock %}
