<div class="card mb-4">
    <div class="card-body">
        <div class="d-flex flex-row align-items-center mb-3">
            <img class="post-profile-pic rounded-circle" src="{{ url_for('static' ,filename='profile_pics/' + post.author.profile_pic_file) }}">
            <div class="ms-3">
            <a class="post-name" href="{{ url_for('main.user', username=post.author.username) }}">
                {{ post.author.username }}
            </a>
            <br>
            <small class="text-muted">{{ moment(post.timestamp).fromNow() }}</small>
            </div>
            {% if post.author == current_user %}
            <div class="d-flex flex-fill justify-content-end">
                <a href="{{ url_for('post.delete_post', post_id=post.id) }}">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </div>
            {% endif %}
        </div>
        <p>
            {{ post.body }}
        </p>
    </div>
</div>
