{% extends "base.html" %}

{% block content %}
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        {% if form.body.errors %}
        {{ form.body(class='form-control form-control-lg is-invalid', id='body') }}
        {% for err in form.body.errors %}
        <div class="invalid-feedback">
            {{ err }}
        </div>
        {% endfor %}
        {% else %}
        {{ form.body(class='form-control form-control-lg', placeholder='New post', id='body') }}
        {% endif %}
        
        <br>
        {{ form.submit(class="btn btn-lg btn-primary mb-5") }}
    </form>
    {% for post in posts.items %}
        {% include '_post.html' %}
    {% endfor %}
    <!-- pagination -->
    {% set prev_url = url_for('main.index', page=posts.prev_num) %}
    {% set next_url = url_for('main.index', page=posts.next_num) %}
    {% include '_pagination.html' %}
{% endblock %}
