{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <form action="" method="POST">
        <p>
        {{ form.hidden_tag() }}
        {{ form.body.label }}<br>
        {{ form.body(cols=32, row=4) }}<br>
        {% for error in form.body.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% for post in posts.items %}
        {% include '_post.html' %}
    {% endfor %}
    <!-- pagination -->
    {% set prev_url = url_for('index', page=posts.prev_num) %}
    {% set next_url = url_for('index', page=posts.next_num) %}
    {% include '_pagination.html' %}
{% endblock %}
