{% extends 'base.html' %}

{% block content %}
    <div>
        <p>Sign In</p>
        <form action="" method='POST' novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=35) }}<br>
                {% for err in form.username.errors %}
                    <span style="color:red">{{ err }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=35) }}<br>
                {% for err in form.password.errors %}
                    <span style="color:red">{{ err }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.remember_me }}
                {{ form.remember_me.label }}
            </p>
            <p>
            {{ form.submit }}
            <a href="{{ url_for('reset_password_request') }}">Forgot password?</a>
            </p>
        </form>
        <p>New User? <a href="{{ url_for('signup') }}">Click to Register!</a>
        </p>
    </div>
{% endblock %}
