{% extends 'base.html' %}

{% block content %}
    <div>
        <p>Edit Profile</p>
        <form action="" method='POST' enctype="multipart/form-data", novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=35) }}<br>
                {% for err in form.username.errors %}
                <span style="color:red">{{ err }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=35) }}<br>
                {% for err in form.email.errors %}
                <span style="color:red">{{ err }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.about_me.label }}<br>
                {{ form.about_me(cols=50, rows=4) }}<br>
                {% for err in form.about_me.errors %}
                <span style="color:red">{{ err }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.profile_pic.lable }}<br>
                {{ form.profile_pic }} <br>
                {% for err in form.profile_pic.errors %}
                <span style="color:red">{{ err }}</span>
                {% endfor %}
            </p>
            <p>
            {{ form.submit }}
            </p>
        </form>
    </div>
{% endblock %}

