{% extends 'base.html' %}

{% block content %}
    <div>
        <p>Sign Up</p>
        <form action="{{ url_for('signup') }}" method='POST' novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=35) }}<br>
                {% for err in form.username.errors %}
                    <span style="color:red">{{ err }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=35) }}<br>
                {% for err in form.email.errors %}
                <span style="color:red">{{ err }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=35) }}<br>
                {% for err in form.password.errors %}
                    <span style="color:red">{{ err }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.check_password.label }}<br>
                {{ form.check_password(size=35) }}<br>
                {% for err in form.check_password.errors %}
                <span style="color:red">{{ err }}</span>
                {% endfor %}
            </p>
            <p>
            {{ form.submit }}
            </p>
        </form>
    </div>
{% endblock %}

