{% extends 'base.html' %}

{% block content %}
  <table>
  <tr valign="top">
    <td><img src="{{ profile_pic_uri }}" style="width: 100px"></td>
    <td>
    <h1>User: {{ user.username }}</h1>
    {% if user.about_me %}
        <p>{{ user.about_me }}</p>
    {% endif %}
    {% if current_user == user %}
        <p>Last seen on: Online</p>
        <p><a href="{{ url_for('profile_edit') }}">Edit Profile</a></p>
    {% else  %}
        <p>Last seen on: {{ user.last_seen }}</p>
        <!--follow/unfollow button-->
        {% if current_user.is_in_followed(user) %}
            {% set func_name = 'unfollow' %}
        {% else %}
            {% set func_name = 'follow' %}
        {% endif %}
        <p>
            <form action="{{ url_for('follow_unfollow', username=user.username) }}" method="POST">
                {{ form.csrf_token }}
                {{ form.func_name(value=func_name) }}
                {{ form.submit(value=func_name | capitalize) }}
            </form>
        </p>
        <!-- -->
    {% endif %}
    </td>
  </tr>
  </table>
  <hr>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
{% endblock %}
